* {
  padding: 0;
  margin: 0;
  box-sizing: border-box; }

header {
  width: 100%;
  height: 600px;
  background-image: url(../img/header.jpg);
  background-attachment: fixed;
  background-position: center;
  background-repeat: none;
  background-size: cover;
  overflow: hidden; }

header::before {
  content: "";
  position: absolute;
  background-color: rgba(0, 0, 0, 0.5);
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 600px; }

.menu {
  width: 100%;
  display: flex;
  flex-direction: rows;
  justify-content: center;
  position: fixed;
  margin: auto;
  align-items: center;
  background: rgba(0, 0, 0, 0.8);
  z-index: 1000;
  padding-top: 8px;
  padding-bottom: 8px; }

.logo {
  margin: 10px;
  padding: 5px 20px;
  background: #fc6a35;
  border-radius: 25px; }
  .logo h2 {
    color: #fff;
    font-size: 25px; }

.menu .btn-menu {
  display: none;
  color: #ffff;
  text-decoration: none;
  font-size: 1em; }

.menu .enlaces {
  display: inline-flex;
  text-align: right; }

.menu .enlaces a {
  margin: 8px;
  text-decoration: none;
  padding: 5px 10px;
  color: white;
  border-bottom: 2px solid transparent;
  transition: all 0.3s ease-in; }

.menu .enlaces a:hover {
  border-bottom: 2px solid #fff;
  text-decoration: none; }

.show-menu-btn, .hide-menu-btn {
  transition: 0.4s;
  color: #fff;
  font-size: 28px;
  cursor: pointer;
  display: none;
  padding: 20px; }

.show-menu-btn {
  float: right;
  position: relative; }

#chk {
  position: absolute;
  visibility: hidden;
  z-index: -1111; }

.title-my-name {
  display: block;
  position: relative;
  text-align: center;
  margin-top: 13%;
  line-height: 70px;
  font-size: 80px;
  color: #fff; }

.content-title-position {
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  width: 30%;
  margin: 5px auto;
  padding: 1px 0px;
  background: #fc6a35;
  border-radius: 30px; }
  .content-title-position .title-position {
    display: block;
    padding-top: 7.5px;
    text-align: center;
    color: #fff;
    font-size: 25px; }

header .line {
  width: 600px;
  margin: auto;
  height: 4.5px;
  background: #00a8ff;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px; }

.bg-html {
  background: #dd512a; }

.bg-css {
  background: #2196f3; }

.bg-js {
  background: #f7e018; }

.bg-sass {
  background: #cd6699; }

.bg-jq {
  background: #0868ac; }

.bg-vue {
  background: #41b883; }

.bg-php {
  background: #36447f; }

.bg-mq {
  background: #fea602; }

.bg-boostrap {
  background: #553b7d; }

.bg-RN {
  background: #00d8ff; }

.linea {
  width: 11%;
  height: 5.5px;
  background: #ff7f50;
  border-radius: 10px;
  margin: 10px 0; }

.linea::after {
  content: '';
  position: absolute;
  width: 5.5%;
  height: 5.5px;
  background: #ff7f50;
  border-radius: 10px;
  margin: 15px 0; }

.sect-about {
  padding-top: 50px; }

.sect-about .row .col-auto .text-about {
  margin: 10px auto;
  width: 520px;
  padding: 20px;
  border-left: 4px solid #34495e;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px; }

.sect-about .foto {
  margin-top: -240px;
  position: absolute;
  left: 0;
  right: 0; }

.sect-about .foto .me {
  vertical-align: top;
  width: 250px;
  height: 250px;
  border-radius: 50%;
  display: block;
  margin: 0px auto;
  object-fit: cover;
  object-position: center center;
  border: 5px solid rgba(255, 255, 255, 0.2);
  margin-bottom: 20px; }

.main {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto; }

@media (min-width: 576px) {
  .main {
    max-width: 540px; } }

@media (min-width: 768px) {
  .main {
    max-width: 720px; } }

@media (min-width: 992px) {
  .main {
    max-width: 960px; } }

@media (min-width: 1200px) {
  .main {
    max-width: 1140px; } }

/*------------------------section my services--------------------*/
.content-my-card-services {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
  margin-top: 30px; }

.my-card {
  flex: 1 1 auto;
  width: 300px;
  height: 320px;
  background: rgba(246, 253, 255, 0.973);
  margin: 0px;
  transition: 0.5s ease-in-out; }

.my-card:hover {
  transform: scale(1.1);
  z-index: 2;
  background: #2c3e50;
  color: #ffffff;
  -webkit-box-shadow: 0px 0px 15px rgba(171, 171, 171, 0.75);
  -moz-box-shadow: 0px 0px 15px rgba(171, 171, 171, 0.75);
  box-shadow: 0px 0px 15px rgba(171, 171, 171, 0.75);
  border-radius: 15px; }
  .my-card:hover .content-my-card h6 {
    background: #ffffff;
    color: #000000; }

.my-card .content-my-card img {
  display: block;
  padding-top: 10px;
  margin: 10px auto; }

.my-card .content-my-card h6 {
  display: block;
  width: 100%;
  background: #2c3e50;
  color: white;
  padding: 15px;
  transition: 0.4s ease-in-out; }

.my-card .content-my-card p {
  padding: 20px; }

.my-card .content-my-card {
  text-align: center; }

/*-------------------Section proyectos----------------*/
.option-filter {
  display: flex;
  justify-content: center; }

.option-filter ul {
  list-style-type: none;
  text-align: center;
  margin: 0; }

#filter-list {
  display: flex;
  border: 1px solid #dddddd;
  border-radius: 30px;
  padding: 1px;
  margin: 0 0 60px; }

.option-filter ul li {
  padding: 6px 20px;
  margin: 6px 5px;
  color: #888888;
  line-height: 30px;
  cursor: pointer;
  -webkit-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  border-radius: 30px;
  font-size: 16px;
  font-weight: 500;
  min-width: 130px; }

#filter-list li.active,
#filter-list li:hover {
  background-color: #566cff;
  color: white; }

.content-card-proyect {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
  margin: 20px; }

.card-proyect {
  width: 28.6%;
  -webkit-box-shadow: 0px 0px 15px rgba(171, 171, 171, 0.75);
  -moz-box-shadow: 0px 0px 15px rgba(171, 171, 171, 0.75);
  box-shadow: 0px 0px 15px rgba(171, 171, 171, 0.75);
  border-radius: 15px;
  margin: 15px 20px; }
  .card-proyect img {
    width: 100%;
    height: 170px;
    border-bottom: 5px solid #566cff; }
  .card-proyect figcaption {
    margin: 5px;
    padding: 8px; }
    .card-proyect figcaption h3 {
      font-weight: bold; }
    .card-proyect figcaption .content-tag-useTec {
      text-align: right; }
      .card-proyect figcaption .content-tag-useTec span {
        display: inline-block;
        padding: 2px 9px;
        color: white;
        font-weight: bold;
        font-size: 11px; }

/*-------------------Section tecnologys--------------*/
.sect-tecnologys {
  background-image: url("../img/sect-tecnoligys3.jpg");
  background-attachment: fixed;
  background-position: center;
  background-repeat: none;
  background-size: cover;
  overflow: hidden;
  position: relative;
  padding: 0; }

.sect-tecnologys .container {
  overflow: hidden; }

.sect-tecnologys h2 {
  color: #ffffff; }

/*My cards 2*/
.contenedor-my-card {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between; }

.my-card-2 {
  width: 30%;
  display: flex;
  flex-direction: column;
  border-radius: 15px;
  background: rgba(246, 253, 255, 0.973);
  margin: 20px 0px;
  transition: 0.4s ease-in-out; }

.my-card-2 .content-my-card-2 img {
  display: block;
  padding: 15px 0;
  margin: 30px auto; }

.my-card-2 .content-my-card-2 h6 {
  text-align: center;
  width: 40%;
  background: #2c3e50;
  color: white;
  padding: 8px 10px;
  border-radius: 20px;
  vertical-align: top;
  transition: 0.4s ease-in-out;
  margin: -20px auto; }

.my-card-2:hover {
  background: #2c3e50;
  color: #ffffff;
  -webkit-box-shadow: 0px 0px 15px rgba(171, 171, 171, 0.75);
  -moz-box-shadow: 0px 0px 15px rgba(171, 171, 171, 0.75);
  box-shadow: 0px 0px 15px rgba(171, 171, 171, 0.75); }
  .my-card-2:hover .content-my-card-2 .bg-html {
    background: #dd512a; }
  .my-card-2:hover .content-my-card-2 .bg-css {
    background: #2196f3; }
  .my-card-2:hover .content-my-card-2 .bg-js {
    background: #f7e018; }
  .my-card-2:hover .content-my-card-2 .bg-sass {
    background: #cd6699; }
  .my-card-2:hover .content-my-card-2 .bg-jq {
    background: #0868ac; }
  .my-card-2:hover .content-my-card-2 .bg-vue {
    background: #41b883; }
  .my-card-2:hover .content-my-card-2 .bg-php {
    background: #36447f; }
  .my-card-2:hover .content-my-card-2 .bg-mq {
    background: #fea602; }
  .my-card-2:hover .content-my-card-2 .bg-boostrap {
    background: #553b7d; }
  .my-card-2:hover .content-my-card-2 .bg-RN {
    background: #00d8ff; }

.carousel-inner .carousel-item img {
  width: 100%;
  height: 100%; }

.img-login {
  width: 100%; }

.sect-contact {
  padding: 20px; }

.content-social-contact {
  margin: 20px;
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  flex-direction: row; }

.sect-contact .content-social-contact .social-contact {
  width: 40%;
  margin-top: 20px; }

.sect-contact .content-social-contact .social-contact .contact-content {
  margin: 10px auto;
  width: 100%;
  padding: 20px;
  border-left: 4px solid #34495e;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px; }

.sect-contact .content-social-contact .social-contact .contact-content ul {
  list-style: none; }

.sect-contact .content-social-contact .social-contact .contact-content ul li {
  padding: 8px; }

.sect-contact .content-social-contact .social-contact .contact-content ul li a {
  text-decoration: none;
  display: block;
  color: #353b48;
  transition: all .2s ease; }
  .sect-contact .content-social-contact .social-contact .contact-content ul li a i {
    font-size: 20px;
    padding-right: 10px; }

.sect-contact .content-social-contact .social-contact .contact-content ul li a:hover {
  color: #ff7f50;
  font-size: 15px; }

footer {
  width: 100%;
  background: #006494;
  position: relative;
  bottom: 0; }

footer .container-footer .footer-body {
  padding: 60px 0;
  height: 200px; }

footer .container-footer .footer-body .redes-sociales {
  display: flex;
  justify-content: center; }
  footer .container-footer .footer-body .redes-sociales a {
    color: whitesmoke;
    text-align: center;
    width: 100px;
    display: block;
    padding: 15px 0;
    font-size: 20px;
    /* background: #ccc; */
    margin: 0 8px; }

footer .container-footer .footer-body .redes-sociales .facebook:hover {
  background: #3b5998; }

footer .container-footer .footer-body .redes-sociales .twitter:hover {
  background: #1da1f2; }

footer .container-footer .footer-body .redes-sociales .linkedin:hover {
  background: #0077b5; }

footer .container-footer .footer-body .redes-sociales .instagram:hover {
  background: #e1306c; }

footer .container-footer .footer-body .redes-sociales .github:hover {
  background: #333; }

footer .container-footer .footer-pie {
  padding: 2px;
  background: #01557c;
  text-align: center; }

footer .container-footer .footer-pie p {
  display: block;
  margin-top: 15px;
  color: #ffffff; }

/*---------------------Responsive----------------------------------*/
/*Parrafos de texto*/
@media screen and (max-width: 1270px) {
  .content-title-position {
    width: 40%; } }

@media screen and (max-width: 1250px) {
  .content-social-contact {
    width: 100%; } }

@media screen and (max-width: 1200px) {
  .sect-about .row .col-auto .text-about {
    width: 100%; } }

@media screen and (max-width: 1080px) {
  .content-card-proyect {
    justify-content: center;
    margin: 0; }
  .card-proyect {
    width: 45%;
    margin: 15px 15px; }
    .card-proyect img {
      height: 40%; } }

@media screen and (max-width: 987px) {
  .content-title-position {
    width: 45%; } }

@media screen and (max-width: 873px) {
  .content-title-position {
    width: 50%; } }

@media screen and (max-width: 800px) {
  .menu {
    display: block;
    position: fixed;
    width: 100%;
    height: 100vh;
    background: #333;
    right: -100%;
    top: 0;
    z-index: 1000;
    transition: 0.7s;
    padding: 80px 0; }
  .menu .enlaces {
    display: flex;
    flex-direction: column;
    align-items: center; }
  .menu .enlaces a {
    text-align: center;
    margin: 30px;
    width: 20%; } }

@media screen and (max-width: 800px) {
  .show-menu-btn,
  .hide-menu-btn {
    display: block; }
  .hide-menu-btn {
    position: absolute;
    top: 40px;
    right: 40px; }
  #chk:checked ~ .menu {
    right: 0; } }

@media screen and (max-width: 800px) {
  .my-card-2 {
    width: 45%; }
  .sect-contact .content-social-contact .social-contact {
    width: 100%; } }

@media screen and (max-width: 780px) {
  .content-title-position {
    width: 70%; } }

@media screen and (max-width: 767px) {
  .title-my-name {
    margin-top: 25%; }
  .my-card {
    width: 100%;
    margin: 0 auto; }
  .option-filter ul li {
    font-size: 14px; }
  #filter-list {
    align-items: center;
    margin: 60px 0 30px; }
  .content-card-proyect {
    flex-direction: column;
    margin: 15px 0px; }
  .card-proyect {
    width: 100%;
    margin: 15px 0px; }
    .card-proyect img {
      height: 270px; }
  .my-card-2 {
    width: 100%; }
  .sect-about .foto {
    margin-top: -200px; }
  .sect-about h2 {
    margin-top: 50px; } }

@media screen and (max-width: 620px) {
  .content-title-position {
    width: 80%; } }

@media screen and (max-width: 590px) {
  .menu .enlaces a {
    text-align: center;
    margin: 30px;
    width: 30%; } }

@media screen and (max-width: 560px) {
  .footer-pie {
    padding: 40px; } }

@media screen and (max-width: 550px) {
  .title-my-name {
    font-size: 50px;
    padding: 10 15px; }
  .content-title-position .title-position {
    font-size: 20px; }
  footer .container-footer .footer-body .redes-sociales {
    flex-wrap: wrap; } }

@media screen and (max-width: 500px) {
  .sect-about h2 {
    margin-top: 60px; }
  .option-filter ul li {
    padding: 8px 7px;
    margin: 6px 5px;
    color: #888888;
    line-height: 20px; } }

@media screen and (max-width: 458px) {
  .menu .enlaces a {
    text-align: center;
    margin: 30px;
    width: 40%; } }

@media screen and (max-width: 439px) {
  #filter-list {
    flex-direction: column; }
  .option-filter ul li {
    padding: 5px 7px;
    margin: 5px 5px;
    color: #888888;
    line-height: 20px; } }

@media screen and (max-width: 378px) {
  footer .container-footer .footer-body {
    height: 100%;
    margin: 0 auto; } }
