.sect-contact .row .col-auto .contact-content {
    margin: 10px auto;
    width: 520px;
    padding: 20px;
    border-left: 4px solid #34495e;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    
}

.sect-contact .row .col-auto .contact-content ul {
  list-style: none;  
}

.sect-contact .row .col-auto .contact-content ul li {
    padding: 8px;
}

.sect-contact .row .col-auto .contact-content ul li a {
    text-decoration: none;
    display: block;
    color: #353b48;
    transition: all .2s ease;
    i {
        font-size: 20px;
        padding-right: 10px;
    }
   
}

.sect-contact .row .col-auto .contact-content ul li  a:hover {
    color: #ff7f50;
    font-size: 15px;
}


