// .wrap {
//   width: 100%;
//   padding: 0;
//   margin: 0;
//   background-color: #ebebeb;
// }
.bg-html {
  background: #dd512a;
}
.bg-css {
  background: #2196f3;
}
.bg-js {
  background: #f7e018;
}
.bg-sass {
  background: #cd6699;
  
}
.bg-jq {
  background: #0868ac;
  
}
.bg-vue {
  background: #41b883;
  
}
.bg-php {
  background: #36447f; 
}

.bg-mq {
  background: #fea602;
}
.bg-boostrap {
  background: #553b7d;
}
.bg-RN {
  background: #00d8ff;
}


.linea {
  width: 11%;
  height: 5.5px;
  background: #ff7f50;
  border-radius: 10px;
  margin: 10px 0;
}

.linea::after {
  content: '';
  position: absolute;
  width: 5.5%;
  height: 5.5px;
  background: #ff7f50;
  border-radius: 10px;
  margin: 15px 0;
  
}

.sect-about {
  padding-top: 50px;
}
.sect-about .row .col-auto .text-about {
  margin: 10px auto;
  width: 520px;
  padding: 20px;
  border-left: 4px solid #34495e;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}
.sect-about .foto{
  margin-top: -240px;
  position: absolute;
  left: 0;
  right: 0;
 
}
.sect-about .foto .me {
  vertical-align: top;
  width: 250px;
  height: 250px;
  border-radius: 50%;
  display: block;
  margin: 0px auto;
  object-fit: cover;
  object-position: center center;
  border: 5px solid rgba(255, 255, 255, 0.2);
  margin-bottom: 20px;
  // transform: rotate(-90deg);
}

.main {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

@media (min-width: 576px) {
  .main {
    max-width: 540px;
  }
}

@media (min-width: 768px) {
  .main {
    max-width: 720px;
  }
}

@media (min-width: 992px) {
  .main {
    max-width: 960px;
  }
}

@media (min-width: 1200px) {
  .main {
    max-width: 1140px;
  }
}
/*------------------------section my services--------------------*/
.content-my-card-services{
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
  margin-top: 30px;
}
.my-card {
  flex: 1 1 auto;
  width: 300px;
  height: 320px;
  background: rgba(246, 253, 255, 0.973);
  margin: 0px;
  transition: 0.5s ease-in-out;
}

.my-card:hover {
  transform: scale(1.1);
  z-index: 2;
  background: #2c3e50;
  color: #ffffff;
  -webkit-box-shadow: 0px 0px 15px  rgba(171, 171, 171, 0.75);
  -moz-box-shadow: 0px 0px 15px  rgba(171, 171, 171, 0.75);
  box-shadow: 0px 0px 15px  rgba(171, 171, 171, 0.75);
  .content-my-card h6 {
    background: #ffffff;
    color: #000000;
  }
  border-radius: 15px;
}

.my-card .content-my-card img {
  display: block;
  padding-top: 10px;
  margin: 10px auto;
}
.my-card .content-my-card h6 {
  display: block;
  width: 100%;
  background: #2c3e50;
  color: white;
  padding: 15px;
  transition: 0.4s ease-in-out;
}

.my-card .content-my-card p {
  padding: 20px;
}

.my-card .content-my-card {
  text-align: center;
}

/*-------------------Section proyectos----------------*/
// .sect-my-proyects{
//   margin-bottom: 68%;
// }
.option-filter{
  display: flex;
  justify-content: center;
}

.option-filter ul {
  list-style-type: none;
  text-align: center;
  margin: 0;
}

#filter-list{
  display: flex;
  border: 1px solid #dddddd;
  border-radius: 30px;
  padding: 1px;
  margin: 0 0 60px;
}
.option-filter ul li {
 padding: 6px 20px;
 margin: 6px 5px;
 color: #888888;
 line-height: 30px;
 cursor: pointer;
 -webkit-transition: all 0.3s ease-in-out;
 -ms-transition: all 0.3s ease-in-out;
 -moz-transition: all 0.3s ease-in-out;
 transition: all 0.3s ease-in-out;
 border-radius: 30px;
 font-size: 16px;
 font-weight: 500;
 min-width: 130px;
}

#filter-list li.active,
#filter-list li:hover{
  background-color: rgb(86, 108, 255) ;
  color: white;
}

.content-card-proyect {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
  margin: 20px;
  
}
.card-proyect {
 width: 28.6%;
 -webkit-box-shadow: 0px 0px 15px  rgba(171, 171, 171, 0.75);
  -moz-box-shadow: 0px 0px 15px  rgba(171, 171, 171, 0.75);
 box-shadow: 0px 0px 15px  rgba(171, 171, 171, 0.75);
 border-radius: 15px;
 margin: 15px 20px;
 img {
   width: 100%;
   height: 170px;
   border-bottom: 5px solid rgb(86, 108, 255);
 }
 figcaption{
  margin: 5px;
  padding: 8px;

  h3{
    font-weight: bold;
  }

  .content-tag-useTec{
    text-align: right;
    span{
      display: inline-block;
      padding: 2px 9px;
      color: white;
      font-weight: bold;
      font-size: 11px;
    }
  }
 }
}


/*-------------------Section tecnologys--------------*/
.sect-tecnologys{
    background-image: url('../img/sect-tecnoligys3.jpg');
    background-attachment: fixed;
    background-position: center;
    background-repeat: none;
    background-size: cover;
    overflow: hidden;
    position: relative;
    padding: 0;
}

.sect-tecnologys .container {
  overflow: hidden;
}


.sect-tecnologys h2{
  color: #ffffff;
}

/*My cards 2*/
.contenedor-my-card {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;

}
.my-card-2 {
  
  width: 30%;
  // height: 240px;
  display:flex;
  flex-direction: column;
  border-radius: 15px;
  background: rgba(246, 253, 255, 0.973);
  margin: 20px 0px;
  transition: 0.4s ease-in-out;
  // margin-top: -50px;
}

.my-card-2 .content-my-card-2 img {
  display: block;
  padding: 15px 0;
  margin: 30px auto;
}

.my-card-2 .content-my-card-2 h6 {
  text-align: center;
  width: 40%;
  background: #2c3e50;
  color: white;
  padding: 8px 10px;
  border-radius: 20px;
  vertical-align: top;
  transition: 0.4s ease-in-out;
  margin: -20px auto;


}

.my-card-2:hover {

  background: #2c3e50;
  color: #ffffff;
  -webkit-box-shadow: 0px 0px 15px  rgba(171, 171, 171, 0.75);
  -moz-box-shadow: 0px 0px 15px  rgba(171, 171, 171, 0.75);
  box-shadow: 0px 0px 15px  rgba(171, 171, 171, 0.75);
  .content-my-card-2 .bg-html {
    background: #dd512a;
  }
  .content-my-card-2 .bg-css {
    background: #2196f3;
  }
  .content-my-card-2 .bg-js {
    background: #f7e018;
  }
  .content-my-card-2 .bg-sass {
    background: #cd6699;
    
  }
  .content-my-card-2 .bg-jq {
    background: #0868ac;
    
  }
  .content-my-card-2 .bg-vue {
    background: #41b883;
    
  }
  .content-my-card-2 .bg-php {
    background: #36447f; 
  }

  .content-my-card-2 .bg-mq {
    background: #fea602;
  }
  .content-my-card-2 .bg-boostrap {
    background: #553b7d;
  }
  .content-my-card-2 .bg-RN {
    background: #00d8ff;
  }
}

